body {
    background-color: #FEF9E6;
}

.loginField__titleName, .loginField__titlePassword {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.loginField__inputName, .loginField__inputPassword {
    margin-left: 20px;
    width: 300px;
    height: 30px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 30px;
}

.loginField__errorField {
    font-size: 20px;
    margin-left: 65px;
}

.loginField__loginBtn {
    margin-top: 10px;
    cursor: pointer;
    margin-left: 120px;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
}

.loginBtn__text {
    color: #333;
    font-size: 15px;
    margin-top: 2px;
    font-family: "Montserrat", "Arial", sans-serif;
}

.loginField__loginBtn:hover {
    background-color: #000;

    .loginBtn__text {
        color: white;
    }
}

.loginField__errorField {
    color: red;
}

.divmainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainTitle {
    width: 300px;
    height: 60px;
    color: #333;
    font-size: 55px;
    margin-left: auto;
    margin-right: auto;
}

.catalog {
    width: 1440px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    background-color: #F2F2F2;
}

.catalog__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 30px;
    width: 400px;
    height: 30px;
    margin: 15px 0px 0px 660px;
}

.catalog__areaCard {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 135px 0px 200px;
}

.areaCard__card {
    width: 250px;
    height: 420px;
    background-color: white;
    margin-right: 15px;
    margin-top: 5px;
}

.card__content {
    margin-left: 15px;
}

.card__Img {
    width: 220px;
    height: 280px;
    background-color: black;
    margin-top: 15px;
}

.card__title {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    color: #333;
}

.card__price {
    font-weight: 700;
    font-size: 25px;
    font-family: "Montserrat", "Arial", sans-serif;
    margin-top: 10px;
}

.card__deleteBTN {
    cursor: pointer;
    margin-top: 2px;
    width: 220px;
    height: 40px;
    background-color: rgb(255, 72, 72);
    text-align: center;
    padding-top: 7px;
}

.deleteBTN__title {
    font-size: 25px;
    color: white;
}

.addCatalogBtn {
    cursor: pointer;
    margin-top: 15px;
    width: 320px;
    height: 60px;
    border: 3px solid black;
    margin-left: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.addCatalogBtn__text {
    font-size: 60px;
}

.newProduct {
    display: grid;
    width: 423px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid black;
}

.textForInputNameProduct, .textForInputPriceProduct {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
}

.InputNameProduct, .InputPriceProduct {
    width: 400px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.InputImgProduct {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.best {
    width: 1440px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

.bestChoice__areaCard {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 135px 0px 200px;
}


.areaForChange {
    width: 250px;
    height: 30px;
    border: 1px solid #333;
    margin-right: 15px;
    margin-top: 3px;
    display: flex;
}

.areaForChange__input {
    padding-left: 5px;
}

.change__btn {
    cursor: pointer;
}

.changeBtn__text {
    font-size: 20px;
    margin-left: 3px;
    margin-top: 1px;
}

.change__btn {
    width: 70px;
    height: 26px;
    margin-top: 1px;
    margin-left: 3px;
    border: 1px solid #333;
}


.orderArea__ordeBlock {
    border: 2px solid #333;
    width: 700px;
    padding: 10px 5px 10px 5px;
    margin-left: auto;
    margin-right: auto;
}

.orderArea {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.orderArea__title {
    font-size: 45px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.orderBlock__textBeforeForEmail, .orderBlock__textBeforeForName, .orderBlock__textBeforeForAdress, .orderBlock__textBeforeForMessage {
    font-size: 25px;
    margin-bottom: 10px;
}

.orderBlock__textForMessage, .orderBlock__textForAdress, .orderBlock__textForName, .orderBlock__textForEmail {
    font-size: 35px;
}

.order__deleteBTN {
    cursor: pointer;
    margin-top: 10px;
    width: 220px;
    height: 40px;
    background-color: rgb(255, 72, 72);
    text-align: center;
    padding-top: 7px;
    margin-left: auto;
    margin-right: auto;
}

